{% extends 'shop/base.html' %}
{% load static %}


{% block ext_css %}
    <link rel="stylesheet" href="{% static  '/dist/css/adminlte.min.css' %}">
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="#">商品分类</a></li>
                            <li class="breadcrumb-item active">商品分类增加</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form novalidate enctype="multipart/form-data" action="" method="post" class="form-horizontal">
                        {% csrf_token %}
                    {{ user_form.as_p }}
                       <input type="submit" value="提交">
                    </form>

                </div>
            </div>
        </section>
    </div>
{% endblock %}