{% extends 'shop/base.html' %}
{% load static %}


{% block ext_css %}
    <link rel="stylesheet" href="{% static  '/dist/css/adminlte.min.css' %}">
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="#">商品分类</a></li>
                            <li class="breadcrumb-item active">用户信息修改</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <form novalidate enctype="multipart/form-data" action="" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">用户添加</h3>
                            </div>
                            <div class="card-body">
                                {% for form in form_obj %}
                                    <div class="form-group">
                                        <label for="{{ form.id_for_label }}">{{ form.label }}:</label>
                                        {{ form }}
                                    </div>
                                    {% if form.errors %}
                                        <span style="color:red">{{ form.errors.0 }}</span>
                                    {% endif %}
                                {% endfor %}

                                <div class="card-footer">
                                    <a href="#" class="btn btn-secondary">取消</a>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </section>
    </div>
{% endblock %}