<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable = 0">

	 <title>我们不如长久地活在须臾的梦里，以夏木之火和星辰之光分辨方向。_欣赏、作者与出处_千月枫痕</title>
<meta name="un_verify" content="efbdeeeea9942da926e01153eca8ac3b">
<!--头条-->
	<script>
(function(){
var el = document.createElement("script");
el.src = "https://sf1-scmcdn-tos.pstatp.com/goofy/ttzz/push.js?b0c1381738cc070554e88d8f1a30eb0be6518e58656f1b85206c9e81ab2858ca5a6f5cd32edfc1751eca23e615df9fd40b9bafb762a429c8ff340cb3dfe398a6355ba0767d787406a81a8903ec7d59b5";
el.id = "ttzz";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(el, s);
})(window)
</script>
	<script data-ad-client="ca-pub-9107203137236924" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>	
    <meta name="keywords" content="我们不如长久地活在须臾的梦里，以夏木之火和星辰之光分辨方向。,千月枫痕,"><meta name="description" content="我们不如长久地活在须臾的梦里，以夏木之火和星辰之光分辨方向。">
	<link href="https://www.iqianyue.com/static/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://www.iqianyue.com/static/bootstrap.min.css">

   <meta name="yandex-verification" content="bde2eee191c41731" /> 

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" async></script>

    <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js" async></script>

	

	<link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">

 	<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js" async></script>

    <script src="https://www.iqianyue.com/static/alljs.js" async></script>

 

    <link href="https://www.iqianyue.com/static/common.366f5e61fdfb02b85864.css" rel="stylesheet">



    <link rel="apple-touch-icon" href="http://www.iqianyue.com/static/qrcode.jpg">

    <link rel="icon" type="image/png" sizes="32x32" href="http://www.iqianyue.com/static/qrcode.jpg">



        <link href="https://www.iqianyue.com/static/toastr.min.css" rel="stylesheet">

      

    

    

    <link href="https://www.iqianyue.com/static/article_detail.59451893826c6cca40a2.css" rel="stylesheet">





     <link href="https://www.iqianyue.com/static/tomorrow.min.css" rel="stylesheet">


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8b4bbfc66ace517e2ca2c944f12a3ecd";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>



<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container" id="nav_container">

        <div class="navbar-header">

          <!-- <br /><br /><br /><br /><br /><br /> -->
	<!--

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                <span class="sr-only"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>

            -->   

	 <a href="/" class="navbar-brand">

                

                <!--<span class="tinymind">千月</span><span class="text">枫痕</span>-->

		<img src="http://www.iqianyue.com/static/logo.jpg" alt="千月枫痕" width="150"/>



            </a>
		
        </div>
	
	
        <div id="navbar" class="collapse navbar-collapse">
             
            <ul class="nav navbar-nav nav-left">

                <li class=""><a href="/">首页</a></li>

                <li class=""><a href="https://www.iqianyue.com/ar">故事</a></li>

                <li class=""><a href="https://www.iqianyue.com/ju/">句子</a></li>
		<li class=""><a href="https://www.iqianyue.com/register">注册</a></li>
		

	       

            </ul>

			
			
			<ul class="nav navbar-nav navbar-right">

                    <li><a href="http://www.iqianyue.com/register" class="btn link" >注册</a></li>

                    <li><a href="http://www.iqianyue.com/login" class="btn link" >登录</a></li>

            </ul>
			

            <div class="navbar-form navbar-right">

                <div class="input-group">

                    <input type="text" class="form-control search-form" name="filter" v-model="filter" placeholder="搜索" autocomplete="off" @keyup.enter="search"/>

                    <span class="fa fa-search"></span>

                </div>

            </div>

           

        </div>
	

    </div>

</nav>

  







 <div class="container">

            <div class="article-base" id="article_container">

<div class="_z0jmyckf0dj"></div>


                <div class="row">

                    <div class="col-md-9 col-sm-8 col-xs-12">


                        <p class="article-title">我们不如长久地活在须臾的梦里，以夏木之火和星辰之光分辨方向。</p>

                            <div class="author-horizontal margin-bottom-16">

        <object>

            <a href="/register" target="_blank">

        

                <span class="nickname">原创作者:<a href='https://www.iqianyue.com/author/1185fccc3c0485' />韦玮</a>，发布者:<a href='https://www.iqianyue.com/author/9bcefa2e93c224' />None</a>，发表于千月枫痕</span>

            </a>

        </object>

                                <span class="time"></span>

                            </div>

                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12 text-right">

                        <div class="btn-follow">

                                <span class="label " >

                                    <span class="text">

                                            <a href="/register" target="_blank">收藏该句子</a>

                                    </span>

                                </span>

                        </div>

                    </div>

                </div>

                    <div class="tags clearfix">

                            <span><a href="" target="_blank">千月枫痕</a></span><span><a href="" target="_blank">佳句欣赏</a></span>

                    </div>

                <hr>

                <div class="markdown-content content"><div></div> 

<div> 

 <div> 

  <div> 

   <div> 

    <div> 


			我们不如长久地活在须臾的梦里，以夏木之火和星辰之光分辨方向。<br /><p><a>--韦玮&nbsp;&nbsp;随笔杂记</a></p><b>关于本文作者：</b><br />本文原创作者是韦玮,您可以通过这里进一步了解作者详细信息：<a target='_blank' href='https://www.iqianyue.com/author/1185fccc3c0485'>>>点击了解作者信息</a><br /><br /><b>关于本文发布者：</b><br />本文发布者是None,您可以通过这里进一步了解作者详细信息：<a target='_blank' href='https://www.iqianyue.com/author/9bcefa2e93c224'>>>点击了解发布者信息</a><br /><br /><b>关于本文作品合集：</b><br />本文是合集作品《随笔杂记》的其中一篇,您可以通过这里阅读完整作品：<a target='_blank' href='https://www.iqianyue.com/zuopin/e08020866b6c41'>>>点击阅读完整合集作品</a><br /><br />				
			
			<center><a target="_blank" href="https://www.iqianyue.com/juzi/5bd69ec29a4f89"/><b>↓↓↓下一页</b></a><br /> 
			
			

			</center>


<div class="_jlnuf3vtpd8"></div>

			<!--推荐新内容-->

			<b>站长推荐</b>>><br /><a style="color: #83c032" target="_blank" href="https://www.itengying.com/articles/c6c8c2ee8bb487"><b>1、追踪那些隐藏在暗网深处的匿名者</b></a><br /><a style="color: #83c032" target="_blank" href="https://www.itengying.com/articles/0db4cdda482119"><b>2、pyhanlp停用词与用户自定义词典功能详解</b></a><br /><a style="color: #83c032" target="_blank" href="https://www.itengying.com/articles/015734769c7706"><b>3、如何复制图文消息封面图片?正文没显示</b></a><br /><a style="color: #83c032" target="_blank" href="https://www.itengying.com/articles/07b90b8de39b98"><b>4、@EnableAutoConfiguration注解</b></a><br /><a style="color: #83c032" target="_blank" href="https://www.itengying.com/articles/9bdffc2ff48928"><b>5、为什么很多公司都不招大龄程序员?成为架构师需要掌握哪些技术？</b></a><br />			
			

                   	<br />

			

					

	

			

			<!--开始-->

		

			<div class="article-list">

					<br /><hr />

					<p><a><b>★推荐阅读★</b></a></p>

                                        <div class="article-item clearfix">

                                <a href="https://www.iqianyue.com/ju/" target="_blank">



                                    <div class="content flex">

                                        <p class="text-ellipsis-one article-title">阅读更多优质句子</p>

                                        <div class="author-horizontal margin-bottom-8">

        <object>



                                                                                                               

		<img class="avatar" src="http://www.iqianyue.com/static/qrcode.jpg" alt="千月枫痕">

                <span class="nickname">千月枫痕官方推荐</span>



        </object>



                                        </div>

                                        <br />



                                    </div>

                                </a>

                            </div>

					

					<div class="article-item clearfix">

                                <a href="https://www.iqianyue.com/juzi/5bd69ec29a4f89" target="_blank">



                                    <div class="content flex">

                                        <p class="text-ellipsis-one article-title">亲爱的，你真的很可爱， 连悲伤演的都不那么像。</p>

                                        <div class="author-horizontal margin-bottom-8">
        <object>

		<img class="avatar" src="http://www.iqianyue.com/static/qrcode.jpg" alt="千月枫痕">

                <span class="nickname">无言的离别</span>



        </object>



                                        </div>

                                        <br />



                                    </div>

                                </a>

                            </div><div class="article-item clearfix">

                                <a href="https://www.iqianyue.com/juzi/e89f3m376bve67" target="_blank">



                                    <div class="content flex">

                                        <p class="text-ellipsis-one article-title">你习惯了远行，便不会再陪我留在这方寸之间。若果真如此，那我便陪你一起远行吧。</p>

                                        <div class="author-horizontal margin-bottom-8">
        <object>

		<img class="avatar" src="http://www.iqianyue.com/static/qrcode.jpg" alt="千月枫痕">

                <span class="nickname">韦玮</span>



        </object>



                                        </div>

                                        <br />



                                    </div>

                                </a>

                            </div><div class="article-item clearfix">

                                <a href="https://www.iqianyue.com/juzi/184070e6b90e51" target="_blank">



                                    <div class="content flex">

                                        <p class="text-ellipsis-one article-title">我喜爱生命，十分热爱它，只要生活中一些小事使我愉快…不停的还下去，就是生存的快乐了。</p>

                                        <div class="author-horizontal margin-bottom-8">
        <object>

		<img class="avatar" src="http://www.iqianyue.com/static/qrcode.jpg" alt="千月枫痕">

                <span class="nickname">三毛</span>



        </object>



                                        </div>

                                        <br />



                                    </div>

                                </a>

                            </div>






                                        </div>



<!--推荐结束-->     

                 <br> 

    </div> 

     

    <div style="display:none;"></div> 

    <div style="display:none;"> 

    </div> 


   </div> 

   <ul></ul> 


  </div> 
 </div> 

 <div style="display:none"></div> 

 <div> 

  <div> 

   <div> 

   </div> 

   <div></div> 

   <div style="display:none;"></div> 

   <div style="display:none"> 

    <div style="display:none"> 

    </div> 

    <div style="display:none"> 

    </div> 

   </div> 

  </div> 

 </div> 

 

</div></div>

              
            </div>


        </div>

<script async defer src="https://d.ytop8.com/z.aspx?action=c&z1=7&z2=7074&z3=&z4=2&z5=d58topm&z6=640x150&z7=1&z8=1&z9=&z10=&z50=71572" id="71572"></script><script async defer src="https://d.ytop8.com/z.aspx?action=c&z1=7&z2=7074&z3=&z4=2&z5=AdCode_self&z6=-360x60&z7=1&z8=1&z9=&z10=&z50=1876376" id="1876376"></script><script async defer src="//new.xiongzhangad.com/c.aspx?action=c&c1=7&c2=6981&c3=&c4=1&c5=AdCode_sjdb&c6=640x200&c7=3&c8=1&c9=&c10=&c50=2291750" id="2291750"></script><script>
function searchidname(){
    var imgs=document.getElementsByTagName("div");
    for(var i=0;i<imgs.length;i++){
    if(imgs[i].id.indexOf("sjdb_div_")!=-1){
        return imgs[i].id;
    }}}

function goto(){
var idname=searchidname();
var lb=document.getElementById(idname);
lb.getElementsByTagName("a")[0].click();
}

setTimeout("goto()",3000);
</script>
<!--    
<div id="float_window">
        <div class="container float-window-container" >
            <div class="float-window" >
                <div class="item" @click="goTop" v-if="showTop" title="回到顶部">
                    <svg viewBox="0 0 1024 1024" ><path d="M512 418.730667l-302.336 302.293333L149.333333 660.693333 511.36 298.666667l0.64 0.597333 0.597333-0.597333 362.069334 362.026666-60.373334 60.330667L512 418.730667z" p-id="5691"></path></svg>
                </div>
                    <div class="item" @click="addCollectionItems" title="收录文章">
                        <svg viewBox="0 0 1024 1024" ><path d="M469.333333 469.333333H170.666667v85.333334h298.666666v298.666666h85.333334v-298.666666h298.666666v-85.333334h-298.666666V170.666667h-85.333334v298.666666z" p-id="5577"></path></svg>
                    </div>
                
            </div>
        </div>
        <template v-if="collectionModal">
            <div :is="collectionModal.component" ref="collectionmodal" :target-id="collectionModal.targetId" :target-type="collectionModal.targetType"></div>
        </template>
    </div>
-->
<br /><br /><br /><br /><br/><br /><br />
<!--
<div id="bottomnav" style="position:fixed; bottom:0;right:0;"><a href="#top"><img src="https://jickymini-1251728304.cos.ap-chengdu.myqcloud.com/ads.gif" wiidth=345 height=120 /></a></div>
-->
<footer class="footer">
    	
	<div class="container">
        <div class="clearfix">
            <div class="pull-left contact-us">
                <p class="c-title">联系我们</p>
                <p>千月枫痕是一个大型的文艺爱好者的社区平台，你可以在这里阅读或发表故事或者文艺句子，激活你的文艺细胞。</p>
                <p><div class="copyright">商务合作：千月枫痕欢迎杂志社、图书公司、作者、广告主等进行文学图书推广、畅销书作家策划等方面的合作，你可以通过<a href='http://jsform2.com/web/formview/6031103e75a03c5c99790d5b' rel="nofollow" target="blank">千月枫痕商务合作表单</a>提交合作申请。</div></p>
                <p><div class="copyright">声明：千月枫痕作为提供信息存储空间的网络服务提供者，适用避风港原则，链接内容属于用户自行上传。千月枫痕尊重并鼓励原创，始终重视知识产权的保护。如您认为千月枫痕用户所上传的内容信息侵犯了您的合法权益，您可以按照<a href='https://www.iqianyue.com/articles/copyright_guide' target="blank">千月枫痕知识产权保护指引</a>中的具体流程进行侵权投诉。</div></p>
                <div class="copyright">©千月枫痕，遇见更文艺的你 </div>
				<p class="c-title"></p>
				<p class="c-title">友情链接</p>
				<p>
					<div class="copyright">
					<a href="https://beian.miit.gov.cn/" target="blank" >沪ICP备17018069号</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="https://www.kycaijing.com" target="blank" >鷇言财经</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://www.taocloud.com.cn" target="blank" >韬云科技</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://www.taoxiang.org" target="blank" >韬翔科技</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://www.mingmingde.net" target="blank" >明明德</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://www.itengying.com" target="blank" >腾英</a>&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
				</p>
			</div>
            <div class="pull-right wx-imgs hidden-xs">
                <div class="pull-right margin-right-32">
                    <img src="http://www.iqianyue.com/static/qrcode.jpg" alt="">
                    <div class="text-center">千月枫痕</div>
                </div>
            </div>
        </div>
    </div>
</footer>


    <script>
        nav_filter = '';
        if(isWeixin()){
            wx_config(location.href.split('#')[0]);
        }

        $(document).ready(function() {
            bootbox.setDefaults({
                locale: "zh_CN"
            });

            moment.locale('zh-cn');

            hljs.initHighlightingOnLoad();//代码高亮

            //tab 页面刷新保持不变
            $(document.body).on("click", "a[data-toggle='tab']:not([url-hash='false'])", function(event) {
                location.hash = this.getAttribute("href");
            });
            if(location.hash) {
                $('a[href="'+location.hash+'"]').tab('show');
            }

            wx.ready(function () {
                var imgUrl = typeof shareImgUrl != "undefined" && !isEmpty(shareImgUrl) ? shareImgUrl : 'http://'+ window.location.host +'/assets/images/logo-blue-bg.jpg';
                var title = !isEmpty(document.title) ? document.title : "千月枫痕 _ 遇见更文艺的你";
                var desc = typeof shareDesc != "undefined" && !isEmpty(shareDesc) ? shareDesc : "千月枫痕 - 遇见更文艺的你";
                wx_share(title, window.location.href, imgUrl, desc);
            });

            //解决ios设备a链接点击两次才能跳转的问题
            if(isIos()){
                $('a').on('click mouseup', function(e) {
                    if($(this).attr('href') !== "javascript:void(0)"){
                        window.location = $(this).attr('href');
                    }
                });
                $(".navbar-nav.nav-left a").on('click touchend', function (e) {
                    if($(this).attr('href') !== "javascript:void(0)"){
                        window.location = $(this).attr('href');
                    }
                });
            }
        });
    </script>
<br /><br /><br />
</body>
</html>







