<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
</head>
<body>
{% load static %}
<form action="" method='post'>
    {% csrf_token %}
    <div class='input-group mb-3'>
        <input type="text" class="form-control" name="username" placeholder="用户名">

    </div>
    <div class='input-group mb-3'>
        <input type="email" class="form-control" name="email" placeholder="邮箱">

    </div>
    <div class='input-group mb-3'>
        <input type="password" class="form-control" name="password" placeholder="密码">

    </div>
    <div class='input-group mb-3'>
        <input type="password" class="form-control" name="re-password" placeholder="重复密码">

    </div>
    <div class='row'>
        <div class='col-8'>
            <label for="agreeTerms">
                {{info}}
            </label>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">注册</button>

        </div>
    </div>

</form>


</body>
</html>