{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>
<body>
<div class="container-md">
    <div class='register-box'>
    <div class='register-logo'>用户注册</div>
    <div class="card">
        <div class="card-body register-card-body">
            <form action="" method='post'>
                {% csrf_token %}
                <div class='input-group mb-3'>
                    <input type="text" class="form-control" name="username" placeholder="用户名">
                </div>
                <div class='input-group mb-3'>
                    <input type="email" class="form-control" name="email" placeholder="邮箱">
                </div>
                <div class='input-group mb-3'>
                    <input type="password" class="form-control" name="password" placeholder="密码">
                </div>
                <div class='input-group mb-3'>
                    <input type="password" class="form-control" name="re-password" placeholder="重复密码">
                </div>
                <div class='row'>
                    <div class='col-8'>
                        <label for="agreeTerms"> {{ info }}</label>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>

</body>
</html>