<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国联通</title>
</head>
<body>

<h1>中国联通</h1>
<h2>中国联通</h2>
<h3>中国联通</h3>
<h4>中国联通</h4>
<h5>中国联通</h5>
<h6>中国联通</h6>
<h7>中国联通</h7>

<div> 块级标签，一个人占一行</div>
<span>山东蓝翔</span><span>挖掘机哪家强</span>
<div>山东蓝翔</div>
<div>挖掘机哪家强</div>


<div style="color:red">中国移动</div>

<a href="index.html">点击跳转</a>
<a href="http://blog.sunliugo.com">点击跳转</a>

<img style="height: 10px;width: 10px" src="http://blog.sunliguo.com/xdasd.jpg">

<span>
    块级标签：h 和div
    行内标签：


</span>
<div>
    标签的嵌套
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>武沛齐</td>
        <td>10</td>
    </tr>
    </tbody>

</table>
</body>
</html>