{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/depart/add/" target="_blank">
                <span class="glyphicon glyphicon-plus-sign " aria-hidden="true"></span>
                新建部门</a></div>
      <div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          部门列表</div>

      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th>操作</th>

          </tr>
        </thead>
        <tbody>
        {%  for obj in queryset %}
          <tr>
            <th scope="row">{{ obj.id }}</th>
            <td>{{ obj.title }}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="/depart/{{ obj.id }}/edit/">编辑</a>
                <a class="btn btn-danger btn-xs" href="/depart/delete/?nid={{ obj.id }}">删除</a>
            </td>
        {%  endfor %}

        </tbody>
      </table>
    </div>
  </div>

    </div>
{% endblock %}