{% extends "layout.html" %}
{% block title %}
    用户列表
{% endblock %}
{% block content %}

    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/user/add/" >
                <span class="glyphicon glyphicon-plus-sign " aria-hidden="true"></span>
                新建用户</a>
            <a class="btn btn-success" href="/user/model/add/" target="_blank">
                <span class="glyphicon glyphicon-plus-sign " aria-hidden="true"></span>
                新建用户ModeForm</a>
        </div>
        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>用户列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>密码</th>
                        <th>年龄</th>
                        <th>余额</th>
                        <th>入职时间</th>
                        <th>性别</th>
                        <th>所属部门</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in user_list %}
                        <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.password }}</td>
                        <td>{{ obj.age }}</td>
                        <td>{{ obj.account }}</td>
                        <td>{{ obj.create_time|date:"Y-m-d"}}</td>
                        <td>{{ obj.get_gender_display }}</td>
                        <td>{{ obj.dpart.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/user/{{ obj.id }}/delete/">删除</a>
                        </td>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}