{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新建用户</h3>
            </div>
            <div class="panel-body">
                <form method="post" class="panel-body" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                        <span style="color: red">{{ field.errors.0 }}</span>
                        <!--<input type="text" class="form-control" placeholder="姓名" name="name"/>
                    </div>-->
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">提交</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}