{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新建用户</h3>
        </div>
        <div class="panel-body">
            <form method="post" class="panel-body">
                {% csrf_token %}
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" placeholder="姓名" name="name"/>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="text" class="form-control" placeholder="密码" name="pwd"/>
                </div>
                <div class="form-group">
                    <label>年龄</label>
                    <input type="text" class="form-control" placeholder="年龄" name="age"/>
                </div>
                <div class="form-group">
                    <label>余额</label>
                    <input type="text" class="form-control" placeholder="余额" name="ac"/>
                </div>
                <div class="form-group">
                    <label>入职时间</label>
                    <input type="text" class="form-control" placeholder="入职时间" name="ctime"/>
                </div>
                <div class="form-group">
                    <label>性别</label>
                    <select class="form-control" name="gd">
                        {% for item in gender_choice %}
                        <option value="{{ item.0 }}">{{ item.1 }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>所属部门</label>
                    <select class="form-control" name ='dp'>
                        {% for item in depart_list %}
                            <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">提交</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}