<div id="about-box">
    <h4 class="tabtit" id="">关于我们</h4>
        明日学院，是吉林省明日科技有限公司倾力打造的在线实用技能学习平台，该平台于2016年正式上线，主要为学习者提供海量、优质的课程，课程结构严谨，用户可以根据自身的学习程度，自主安排学习进度。我们的宗旨是，为编程学习者提供一站式服务，培养用户的编程思维。

		<p><b>视频课程</b></p>
		视频课程涵盖明日科技的所有课程，针对不同用户的学习需求，用户可以根据自身情况选择适合自己的学习方式。视频课程包括体系课程、实战课程等，体系课程可以让用户的学习更具有系统性，同时能根据课程的周期，更有效的提高学习效率，优化学习效果。实战课程可以让用户通过实例、项目、模块等实训来练习，让学习更有效。

		<p><b>读书</b></p>
		读书是明日科技新上线的模块，也是明日科技多年编程项目、编程经验的积累，适应各种用户学习，更有不断更新的电子书资源将陆续上线。
		<p><b>社区</b></p>
		社区是明日科技用户交流的重要部分，可以进行技术讨论、下载相关资源以及灌水交流等。互动交流时，可以上传图片、附件、投票支持或投票反对，更可以@好友一起玩耍~

        <p><b>在线编辑器</b></p>
        在线编辑器为实践练习而专门设计的。在这里用户不需要搭建基本开发环境，就可以在线做练习，使用户快速的掌握和运用知识。同时还提供了在线问答、资料下载、名师点播、实例讲解等多种实用功能。

        <p><b>笔记</b></p>
        笔记功能为用户学习做了专门设计。视频课程的学习者添加笔记时会自动暂停当前视频的播放，回顾笔记时就可观看当时视频。学习者还可以上传本地图片保存到笔记当中， 使得保存重要信息更快捷。<br>
        学习者可将笔记公开或保密，也可评论、抄录他人的公开笔记，加强了用户间学习交流。另外，笔记可同步到个人中心的“学院——笔记”中，便于集中管理。
电子书等其它部分的笔记功能也即将上线。
		<p><b>问答</b></p>边学习边提问，明日科技所有的提问都同步到社区中，用户可以在社区中找到学习相关的诸多内容，也可以在他人的回答中选择解决方案。
</div>