<div class="con j-tabcon">
    <h4>讨论区使用规则</h4>
    <p><b>操作方法</b><br>1. 进入讨论区<br>&nbsp;&nbsp;（1）在每个课程的课程详情页，点击“讨论区”tab，可以进入讨论区。<br>&nbsp;&nbsp;（2）使用他人分享的课程讨论区的链接，可以进入讨论区。<br>2.
        发帖<br>&nbsp;&nbsp;（1）在课程讨论区首页点击“发起讨论”按钮，可以发新帖。<br>&nbsp;&nbsp;（2）在课程讨论区子版块点击“发起讨论”按钮，可以发新帖。<br>&nbsp;&nbsp;（3）在课程学习页面，屏幕右侧的“讨论”tab，选择版块，填写内容，点击“发起讨论”按钮，可以发新帖。<br>&nbsp;&nbsp;（4）发帖时需先选择发帖版块，问题需发布到“老师答疑区”，其他内容发布到“综合讨论区”或对应分区。<br>&nbsp;&nbsp;（5）进入发帖页面后，需在“主题”区填写帖子标题，点击“补充详细说明”可填写帖子正文。在“老师答疑区”发布的问题，可在最上端选择该问题与整个课程相关，还是与某个课时相关。<br>3.
        回复<br>&nbsp;&nbsp;（1）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可以在最下端的回复框内，回复帖子内容。<br>&nbsp;&nbsp;（2）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，点击主帖下的“回复”按钮，可以回复帖子内容。<br>4.
        评论<br>&nbsp;&nbsp;在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，点击每个回复下的“评论”，可以评论回复内容。<br>5. 分享与关注<br>&nbsp;&nbsp;（1）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可点击“关注”按钮，关注该帖子，该帖子有新回复后将会给你通知。<br>&nbsp;&nbsp;（2）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可指向“分享”链接并点击分享途径的按钮，可以将该帖子分享出去。<br>6.
        举报<br>&nbsp;&nbsp;在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可点击主帖或各回复的“举报”链接，举报违规内容。<br>7. 排序<br>&nbsp;&nbsp;（1）进入子版块后，帖子列表最上端的下拉列表为排序规则，点击具体排序规则，可以按规则为本版块帖子列表排序。<br>&nbsp;&nbsp;（2）老师答疑区还包括课时选择列表，选择课时可以看到与该课时有关的问答。<br>8.
        搜索<br>&nbsp;&nbsp;在讨论区首页及各子版块右侧的搜索框中输入关键词，并敲击回车键，可以在对应的版块搜索帖子。</p>
</div>
