{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">折线图</div>
        <div class='panel-body'>
            panel content
        </div>
    </div>
    <div class='row'>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">柱状图</div>
                <div class='panel-body'>
                    panel content
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">饼图</div>
                <div class='panel-body'>
                    panel content
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/echarts.min.js' %}">
{% endblock %}