<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue-2.7.14.js"></script>
</head>

<body>
    <div id="app">
        <h1>学生信息</h1>
        <button @click="student.age++">年龄+1岁</button><br>
        <button @click="add_sex">添加性别属性，默认值为男</button><br />
        <button @click.once="add_f">在列表首位添加一个朋友</button><br />
        <button @click="updateFirstFriendName">修改第一个朋友的名字为：张三</button><br />
        <button>添加一个爱好</button><br />
        <button>修改一个爱好为：修车</button><br />
        <h3>姓名：{{student.name}}</h3>
        <h3>年龄：{{student.age}}</h3>
        <h3>爱好：</h3>
        <h3 v-if="student.sex">性别：{{student.sex}}</h3>
        <ul>
            <li v-for="(h,index) of student.hobby" :key="index">{{h}}</li>

        </ul>
        <h3>朋友们：</h3>
        <ul>
            <li v-for="(f,index) of student.friends" :key="index">
                {{f.name}}-{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    student: {
                        name: 'Tome',
                        age: 20,
                        hobby: ['抽烟', '喝酒', '烫头'],
                        friends: [
                            {
                                name: 'Jake',
                                age: 18
                            },
                            {
                                name: 'Luci',
                                age: 20
                            },

                        ]
                    }
                }
            },
            methods: {
                add_sex() {
                    // Vue.set(this.student,'sex','男')
                    this.$set(this.student, 'sex', '男')
                },
                add_f() {
                    this.student.friends.unshift({ 'name': '校长', age: 10 })
                },
                updateFirstFriendName() {
                    this.student.friends[0].name = '张三'
                }
            },
        })
    </script>
</body>

</html>