<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue-2.7.14.js"></script>
</head>

<body>
    <div id="app">
        <h2>人员列表（遍历数组）</h2>
        <input type="text" v-model="keyWord">
        <ul>
            <li v-for="(p,index) of filPersons" :key="index">
                {{p.name}}-{{p.age}}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",

            data: {
                persons: [
                    { id: '001', name: '马冬梅', age: 18 },
                    { id: '002', name: '周冬雨', age: 19 },
                    { id: '003', name: '周杰伦', age: 20 },
                    { id: '004', name: '温兆伦', age: 20 },
                ],
                keyWord: '',
                filPersons: []
            },
            watch: {
                //简写
                // keyWord(val){
                //     this.filPersons = this.persons.filter((p)=>{
                //         return p.name.indexOf(val) !== -1;
                //     })
                // }
                keyWord: {
                    immediate:true,
                    handler(val) {
                        this.filPersons = this.persons.filter((p) => {
                            return p.name.indexOf(val) !== -1;
                        })
                    }
                }
            },
        })
    </script>
</body>

</html>