<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<h1>用户注册</h1>
<div>
    用户名：<input type="text">
</div>
<div>
    密码：<input type="password">

</div>
<div>
    性别：<input type="radio" name="sex">男 <input type="radio" name="sex">女
</div>
<div>
    爱好：<input type="checkbox" name="sex">篮球
    <input type="checkbox" name="sex">足球
    <input type="checkbox" name="sex">乒乓球
</div>

<div>
    城市:
    <select>
        <option value="bj">北京</option>
        <option value="sh">上海</option>
        <option value="sz">深圳</option>
    </select>
</div>
<div>
    领域:
    <select multiple>
        <option value="bj">打游戏</option>
        <option value="sh">上海</option>
        <option value="sz">深圳</option>
    </select>
</div>
<div>
    备注:<textarea></textarea>
</div>
<div>
    <input type="submit" value="submit提交">
    <input type="button" value="button">
</div>
</body>
</html>