<h1>用户注册</h1>
<form method="get" action="/do/register">
    <div>
        用户名：<input type="text" name="name">
    </div>
    <div>
        密码：<input type="password" name="password">
    </div>

    <div>
        性别：<input type="radio" name="sex" value="0">男
        <input type="radio" name="sex" value="1">女
    </div>
    <div>
        爱好：<input type="checkbox" name="sex" value="10">篮球
        <input type="checkbox" name="sex" value="10">足球
        <input type="checkbox" name="sex" value="10">乒乓球
    </div>

    <div>
        城市:
        <select name="citys">
            <option value="bj">北京</option>
            <option value="sh">上海</option>
            <option value="sz">深圳</option>
        </select>
    </div>
    <div>
        领域:
        <select multiple>
            <option value="bj">打游戏</option>
            <option value="sh">上海</option>
            <option value="sz">深圳</option>
        </select>
    </div>
    <div>
        备注:<textarea></textarea>
    </div>
    <div>
        <input type="submit">
</form>
<input type="submit" value="submit提交">
<input type="button" value="button">
</div>