<!doctype html>
<html lang="en">
<head>
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <style>
        .login {
            position: absolute;
            top: 40%;
            left: 50%;
            width: 600px;
            height: auto;
            margin-left: -300px;
            margin-top: -239px;
        }
        .title {
            text-align: center
        }
    </style>
</head>
<body class="container">
<div class="jumbotron login">
<h1 class="title">用户注册</h1>
{% from "_formhelpers.html" import render_field %}
<form method=post action="" class="text-align：center">
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}
    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="注册">
</form>
</div>
</body>
</html>
