{% extends 'base.html' %}
{% block content%}
<style>
    .login-container {
        width: 500px;
        margin: 100px auto;
        padding: 20px 10px;
        background-color: #eef1f4;
        border-radius: .5rem;
        padding: 20px;
    }
    .login-title {
        text-align: center;
    }
    .login-form {
        padding: 20px;
    }
</style>

{% include "layout.html" %}

<div class="login-container">
    <h2 class="login-title">账号密码登录</h2>
    <form class="login-form" method="post" action="{{ url_for('login') }}">
        <div class="form-group">
            {{ form.email.label() }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label() }}
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-check" style="padding-bottom:10px">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> 记住我
          </label>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">登录</button>
        {{ form.hidden_tag() }}
    </form>
</div>
{% endblock %}