<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li><a href="http://127.0.0.1:8000/ajax/init/">Ajax请求模块</a></li>
<li><a href="http://127.0.0.1:8000/chat/">实时聊天模块</a></li>
{#<a href="http://127.0.0.1:8000/ajax/init/">django-admin</a>#}
<li><a href="http://127.0.0.1:8000/log/create/">日志配置模块</a></li>
<li><a href="http://127.0.0.1:8000/mail/verify/">发送邮件模块</a></li>
<li><a href="http://127.0.0.1:8000/message/tip/">消息提示模块</a></li>
<li><a href="http://127.0.0.1:8000/page/index1">数据分页模块</a></li>
<li><a href="http://127.0.0.1:8000/search/find/">全局搜索模块</a></li>
</body>
</html>